{% extends "base.html" %}

{% block title %}Planning des semaines{% endblock %}

{% block content %}
<div class="intro">
  <h1 class="title">Créneaux</h1>

  <p>Voir où sont les urgences de présence.</p>
</div>

<div class="week" id="current">
{% for venue, shifts in data %}
  <table class="venue venue--{{ venue | lower }}">
    <caption>{{ venue }}</caption>
    <thead>
      <tr>
        <th></th>
        {% for day in days %}
        <th>{{ day | date.format('ddd DD', {locale: locale}) }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for shift in times %}
      <tr>
        <th>{{ shift }}</th>
        {% for day in days %}
        {% set resource = shifts[shift][day] | default([]) | first %}
        {% set seats_diff = resource | resource_diff %}
        <td class="digit {{ resource | resource_class }}">
          {% if resource and (seats_diff !== 0) %}
          {{ seats_diff }}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
</div>
{% endblock %}
