{% extends "base.html" %}

{% block title %}Les coopérateurs et coopératrices{% endblock %}

{% block content %}
{{ data.users.size }}
<ul class="grid grid--full grid--stats">
  <li class="double-h double-w">
    <span class="digits">{{ data.total }}</span> membres actifs

    <p>
      <!-- {{ data.total_to_date }} depuis le tout début<br> -->
      <span class="digits">{{ data.state.vacation }}</span> en congés •
      <span class="digits">{{ data.in_ftop_team }}</span> en créneau libre
    </p>
  </li>
  <li class="links">
    <a href="/planning">📋 Créneaux</a>
  </li>
  <li>
    <span class="digits">{{ data.badge_to_print }}</span> badges à imprimer
  </li>
  <li>
    <span class="digits">{{ data.users_last_30d | length }}</span> nouveaux (~30 jours)<br>

    <p>
      <span class="digits">{{ data.users_last_30d_alert }}</span> en alerte
      (<span class="digits">{{ data.users_last_45d_alert }}</span> sur 45 jours)
    </p>
  </li>
  <li>
    <span class="digits">{{ data.state.unpayed + data.state.delay }}</span> à vérifier

    <p>
      <span class="digits">{{ data.state.delay }}</span> en délai •
      <span class="digits">{{ data.state.unpayed }}</span> impayés
    </p>
  </li>
  <li>
    <span class="digits">{{ data.state.alert }}</span> en alerte

    <p>
      <span class="digits">{{ data.negative_points[3][1] }}</span> en dessous de {{ data.negative_points[3][0] }} points <br>
      <span class="digits">{{ data.negative_points[5][1] }}</span> en dessous de {{ data.negative_points[5][0] }} points
    </p>
  </li>
</ul>
{% endblock %}
