html,
body {
  box-sizing: border-box;
  margin: 0;
}

html {
  font: 16px/1.5 Georgia, sans-serif;
}

body {
  background: #fafafa;
  border: 10px solid orange;
  color: #333;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  list-style: none;
  margin: 0;
  padding: 0;
}
.grid--full {
  height: calc(100vh - (2 * 10px));
}

.grid > li {
  padding: 1rem;
}

.grid > li p {
  display: none;
}

@media (min-width: 768px) {
  .grid > li p {
    display: block;
  }
}

.grid .double-h {
  grid-row: span 2;
}

.grid .double-w {
  grid-column: span 2;
}

.grid .double-w.double-h {
  font-size: 1.5em;
}
.grid .double-w.double-h p {
  font-size: 1rem;
}

.grid > .links {
	display: flex;
	flex-direction: column;
  text-align: center;
}

.grid > .links a {
	display: inline-block;
	background: #ccc;
	padding: 1rem;
	font-family: sans-serif;
	text-decoration: none;
}

.grid--stats .digits {
  font-weight: bold;
}
.grid--stats .digits--disabled {
  color: #999;
}

.grid--stats > li > .digits {
  font-size: 3em;
  display: block;
}

@media (min-width: 768px) {
  .grid--stats > li > .digits {
    display: inline;
  }
}

/* Planning View */
.day {
  display: flex;
  flex-flow: row wrap;
}

.day header {
  width: 100%;
}
  .day header h1 {
    margin: 1rem;
  }

.day table {
  flex-grow: 1;
  width: 50%;
}
